#bulk-settings-wrapper {
    height: calc(100vh - 42px);
    max-width: none;
    background-color: #eceff4;
    padding: 1px 10%;
}

#bulk-settings-wrapper h1 {
    background-color: #2e3440;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 12px 0px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-bottom: 0;
}

#bulk-settings-wrapper .bulk-settings-content-wrapper {
    background-color: #ffffff;
    padding: 0px 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: 700px;
}

.bulk-settings-section {
    max-width: none;
}

#bulk-settings-wrapper.step-review .bulk-settings-summary {
    margin-top: 170px;
}