
body.logged_in {
    font-family: "Open Sans",sans-serif;
    color: #e2e2e2;
    background-color: #202125;
}
body.logged_in #title_bar,
body.logged_in div.action_items {
    background-color: #343740;
    background-image: none;
    border: none;
    color: #e2e2e2;
    text-shadow: none;
}
body.logged_in #title_bar,
body.logged_in #title_bar #titlebar_left,
body.logged_in #title_bar #titlebar_right {
    height: 30px;
    display: block;
}

body.logged_in #title_bar #page_title {
    background-color: transparent;
    z-index: 3;
    font-weight: 100;
    font-size: 16.5px;
    left: 110px;
    line-height: 30px;
    margin-left: 7px;    
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    padding-right: 15px;
}

body.logged_in.index #wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 30px min-content 1fr 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

body.logged_in a {
    color: #7ea4be;
}
body.logged_in div.header#header {
    background-color: #141414;
    background-image: none;
    border: none;
    color: #e2e2e2;
    text-shadow: none;
    box-shadow: none;
}
body.logged_in * {
    text-shadow: none !important;
}
body.logged_in #title_bar .action_items span.action_item>a,
body.logged_in #title_bar .action_items span.action_item a.dropdown_menu_button {
    color: #e2e2e2;
    background-color: #444c5d;
    font-weight: 400;
    border-color: #343740;
    margin: 0px;
    line-height: 30px;
    padding: 0px 15px;
}
body.logged_in #title_bar .action_items {
    position: relative;
    top: -30px;
    height: 30px;
    background-color: transparent;
}
body.logged_in #title_bar .action_items span.action_item>a {
    margin: 0px;
    line-height: 30px;
    padding: 0px 15px;
}
body.logged_in #title_bar .action_items span.action_item {
    background-color: #444c5e;
    background-image: none;
    border: none;
}
body.logged_in #title_bar #titlebar_right {
    float: right;
}
body.logged_in #title_bar .action_items span.action_item:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
body.logged_in #title_bar .action_items span.action_item:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
body.logged_in #title_bar .action_items span.action_item>a:not(.disabled):hover,
body.logged_in #title_bar .action_items span.action_item a.dropdown_menu_button:not(.disabled):hover,
body.logged_in #title_bar .action_items span.action_item .dropdown_menu .dropdown_menu_list_wrapper .dropdown_menu_list>li>a:hover {
    color: #dddddd;
    background-color: #4b5366;
    border-radius: 4px;
}
body.logged_in #title_bar .action_items span.action_item .dropdown_menu .dropdown_menu_list_wrapper {
    color: #e2e2e2;
    background-color: #444c5d;
    border-color: #343740;
}
body.logged_in .dropdown_menu .dropdown_menu_list_wrapper .dropdown_menu_list,
.dropdown_menu .dropdown_menu_list_wrapper .dropdown_menu_list li {
    background-color: #444c5d;
    border-color: #343740;
    font-weight: 400;
}

body.logged_in #title_bar .action_items span.action_item .dropdown_menu .dropdown_menu_list_wrapper .dropdown_menu_nipple::before,
body.logged_in #title_bar .action_items span.action_item .dropdown_menu .dropdown_menu_list_wrapper .dropdown_menu_nipple::after,
body.logged_in #title_bar .action_items span.action_item .dropdown_menu .dropdown_menu_list_wrapper .dropdown_menu_nipple {
    border-color: #444c5d #0000;
}
body.logged_in #title_bar .action_items span.action_item .dropdown_menu>.dropdown_menu_button::after {
    border: solid #e2e2e2;
    border-width: 0 2px 2px 0;
    margin-left: 0px;
    top: 10px;
    position: relative;
    right: -8px;
}
body.logged_in .dropdown_menu .dropdown_menu_list_wrapper .dropdown_menu_list li {
    border-bottom: solid 1px #343740;
}
body.logged_in #title_bar .action_items span.action_item>a:not(.disabled):active,
body.logged_in #title_bar .action_items span.action_item>.dropdown_menu>a:not(.disabled):active {
    border-color: #343740;
}

body.logged_in .panel-info {
    border-color: #444c5e;
}
body.logged_in .panel {
    background-color: #2a2a2d;
    margin-top: 21px;
    color: #e2e2e2;
    border: none;
}

body.logged_in table.index_table th,
body.logged_in .table>thead>tr>th {
    background-color: #343740;
    background-image: none;
    border: none;
    box-shadow: none;
    color: #e2e2e2;
}
body.logged_in table.index_table th a,
body.logged_in table.index_table th a:link,
body.logged_in table.index_table th a:visited {
    color: #e2e2e2;
}

body.logged_in table.index_table,
body.logged_in table.index_table tr.even td,
body.logged_in .table-striped>tbody>tr:nth-of-type(odd),
body.logged_in .panel_contents table tr td {
    background-color: #2a2a2d;
}
body.logged_in .section>h3,
body.logged_in .panel>h3 {
    background-color: #343741;
    background-image: none;
    text-shadow: #fff 0 1px 0;
    border: none;
    box-shadow: none;
    color: #ffffff;
    border-radius: 3px 3px 0px 0px;
    text-align: center;
    font-size: 20px;
}
body.logged_in table.index_table td {
    border-bottom: 1px solid #2f374a;
}
body.logged_in table.index_table a {
color: #91bcda;
}
body.logged_in .table_tools {
    margin-bottom: 0px;
}
body.logged_in div.with_sidebar#active_admin_content {
    display: flex;
    width: 100vw;
    gap: 10px;
}

body.logged_in div.with_sidebar#active_admin_content #sidebar {
    width: auto;
    text-align: left;
    margin-left: 0px;
}
body.logged_in #active_admin_content #main_content_wrapper #main_content {
    margin-right: 0px;
}
body.logged_in form.filter_form {
    display: grid;
    grid-gap: 10px;
}
body.logged_in form.filter_form .filter_form_field {
margin-bottom: 0px;
background-color: #2a2a2d;
display: grid;
grid-template-columns: 1fr 2fr;
grid-template-rows: repeat(2, 1fr);
grid-gap: 0px;
}
body.logged_in div.filter_form_field>label { grid-area: 1 / 1 / 2 / 3; }
body.logged_in div.filter_form_field>select { grid-area: 2 / 1 / 3 / 2; }
body.logged_in div.filter_form_field>input { grid-area: 2 / 2 / 3 / 3; }
body.logged_in .scopes .table_tools_button {
    margin-left: 0px;
    border: none;
    background-color: #444c5e;
    background-image: none;
    border-left-width: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 0px;
    border-right-width: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
}
body.logged_in a.table_tools_button:not(.disabled):hover,
body.logged_in .table_tools .dropdown_menu_button:not(.disabled):hover {
    background-image: none;
    background-color: #495266;
}
body.logged_in th.sortable.col.col-domain_type {

}
body.logged_in .sidebar_section>h3 {
    margin-top: 0px;
    background-color: #343740;
    color: #e2e2e2;
    background-image: none;
    border: none;
    box-shadow: none;
}
body.logged_in #title_bar #titlebar_left {
    display: flex;
    flex-flow: row nowrap;
}
body.logged_in #title_bar {
    padding: 0px;
}
body.logged_in #header h1 {
    padding: 3px 30px 0 15px;
}
body.logged_in .breadcrumb a:first-of-type:link {
    padding: 0px 0px 0px 15px;
}
body.logged_in .breadcrumb a,
body.logged_in .breadcrumb a:link {
    color: rgb(127, 163, 190) !important;
    padding: 0px 5px;
    font-size: 16.5px;
    line-height: 30px;
    font-weight: 100;
    text-transform: none;
}
body.logged_in .breadcrumb {
    position: relative;
    left: 0px;
    top: 0px;
    background-color: rgb(51, 55, 64);
    height: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    width: auto;
    margin-bottom: 0px;
    padding: 0px;
    text-transform: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
body.logged_in .breadcrumb .breadcrumb_sep {
    color: rgb(255 255 255) !important;
    padding: 0 0px;
    font-size: 16.5px;
    line-height: 30px;
    font-weight: 100;
    transform: rotateZ(315deg);
    display: inline-block;
}


body.logged_in #header ul.tabs>li.current>a, 
body.logged_in #header ul.tabs>li.current:hover>a {
    background: #343741;
    transition: .2s ease all;
}
body.logged_in #header ul.tabs>li.current:hover>a {
    color: #bdbdbd;
    transition: .2s ease all;
}
body.logged_in #header ul.tabs>li:hover>a {
transition: .2s ease all;
}

body.logged_in #header ul.tabs>li#current_user>a,
body.logged_in #header ul.tabs>li#logout>a {
    border-radius: 3px;
    padding-bottom: 6px;
    top: -2px;
}
body.logged_in #header ul.tabs>li a {
    border-radius: 5px 5px 0px 0px;
    padding: 6px 10px 7px 10px;
}
body.logged_in legend {
    color: #e5e5e5;
}
body.logged_in #header ul.tabs>li {
    margin-bottom: 0px;
}
body.logged_in #header .header-item {
    top: 3px;
}

body.logged_in #header {
    height: 40px;
    width: 100vw;
    padding: 0px 0;

}

body.logged_in div.filter_form_field>label {
text-align: center;
padding: 10px 7px;
font-weight: 600;
text-transform: uppercase;
background-color: #333740;
color: #e2e2e2;
box-sizing: border-box;
font-size: 13px;
list-style-type: none;
text-align: center;
}
body.logged_in fieldset.choices legend.label {
    text-align: center;
    font-size: 1rem;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
    padding: 15px 7px;
    font-weight: 600;
    margin: -10px 0 0;
    text-transform: uppercase;
    background-color: #333740;
}
body.logged_in fieldset.choices legend.label>label {
    color: #e2e2e2;
}
body.logged_in input[type=text],
body.logged_in input[type=text],
body.logged_in input[type=password],
body.logged_in input[type=email],
body.logged_in input[type=number],
body.logged_in input[type=url],
body.logged_in input[type=tel],
body.logged_in input[type=date],
body.logged_in input[type=time],
body.logged_in textarea,
body.logged_in .form-control,
body.logged_in .select2-container--bootstrap .select2-selection {
background-color: transparent;
color: #f0f0f0;
border: 2px solid #5f6368;
}

body.logged_in .select2-container--bootstrap .select2-results__option[aria-selected=true] {
    text-decoration: underline;
}
body.logged_in .select2-results__option[aria-selected] {
    cursor: pointer;
    background-color: #505056;
    color: #ffffff;
}

body.logged_in .select2-results__option[aria-selected]:hover {
    background-color: #606068;
}

body.logged_in .form-control select {
    background-color: #333740;
}


body.logged_in .flash.flash_notice {
        background-color: #494d5a;
        background-image: none;
        border-bottom: none;
        color: #bbbbbb;
}
body.logged_in input[type=text]:hover,
body.logged_in input[type=text]:focus {
    background-color: #5f6368;
    color: #f0f0f0;
    border: 2px solid #5f6368;
    transition: all .1s ease;
}
body.logged_in div.filter_form_field > label,
body.logged_in form.filter_form .filter_form_field.select_and_search select,
body.logged_in form.filter_form .filter_form_field.select_and_search input[type=text] {
    width: 100%;
    margin: 0px;
    border-radius: 0px;
}
body.logged_in form.filter_form .filter_form_field.select_and_search select,
body.logged_in form.filter_form div.filter_form_field select {
    background-color: #5f6368;
}
body.logged_in form input[type=text]:focus,
body.logged_in form input[type=password]:focus,
body.logged_in form input[type=email]:focus,
body.logged_in form input[type=number]:focus,
body.logged_in form input[type=url]:focus,
body.logged_in form input[type=tel]:focus,
body.logged_in form input[type=date]:focus,
body.logged_in form input[type=time]:focus,
body.logged_in form textarea:focus {
    box-shadow: none;
}
body.logged_in div.filter_form_field select#q_state,
body.logged_in div.filter_form_field select#q_vertical,
body.logged_in div.filter_form_field select#q_g5_internal
 { grid-area: 2 / 1 / 3 / 3; }
body.logged_in .sidebar_section select {
    width: auto;
}
body.logged_in table.index_table th.sortable a {
    background: none;
    padding-left: 0px; 
}

body.logged_in .accordion-section > a[href="#navigation"] {
    background-color: transparent;
    background-image: none;
    padding: 5px;
    border: 1px solid #ffffff;
    position: relative;
    top: -3px;  
    color: #ffffff;
}

body.logged_in th.sortable.col.col-thumbnail a,
body.logged_in th.sortable.col.col-listing_management a {
    width: 47px;
    overflow: hidden;
}
body.logged_in th.sortable.col.col-corporate a {
    width: 33px;
    overflow: hidden;
}

body.logged_in td.col:not(.col-domain):not(.col-name) {
    max-height: 100px;
}
body.logged_in fieldset.choices { grid-area: 1 / 1 / 3 / 3; }
body.logged_in #index_footer {
    display: grid;
    grid-auto-flow: column;
}
body.logged_in #index_footer .pagination {
    order: 2;
    text-align: center;
    margin-top: 0px;
}
body.logged_in #index_footer .pagination_information {
    order: 3;
}
body.logged_in #index_footer .download_links {
    text-align: left;
    order: 1;
}

body.show.admin_locations.active_admin.logged_in.admin_namespace div#main_content {
    background: #2a2a2d;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    padding: 10px;
}

body.show.admin_locations.active_admin.logged_in.admin_namespace div#main_content .h-card h2 {
margin-top: 0px;
}

body.logged_in .gps-fields {
    background-color: #242427;
}
body.logged_in .audit {
    border: solid 1px #5f6368;
    background-color: #202125;
    color: #e2e2e2;
}
body.logged_in .audit blockquote {
    border-left: 5px solid #5f6368;
    background-color: #141414;
    color: #e2e2e2;
}
body.logged_in .office-hours td.office-hours-open select,
body.logged_in .office-hours td.office-hours-close select {
    max-width: 100px;
    width: auto;
}


body.logged_in div#map button,
body.logged_in div#map [type="button"],
body.logged_in div#map [type="reset"],
body.logged_in div#map [type="submit"] {
    border-radius: 0px;
}

body.logged_in input#pac-input {
    background-color: #ffffff;
    color: #2e3440;
    font-weight: normal;
    width: 70%;
    border: 1px solid #eceff4;
}

body.logged_in .jumbotron {
    background-color: #343740;
    padding: 10px;
}

body.logged_in .sidebar_section .choices label {
    color: #eceff4;
    text-align: left;
}
body.logged_in div.panel-body div.col-sm-12>div.row>div.col-md-12 {
    padding: 0px;
}
body.logged_in div.panel-body div.col-sm-12>div.row {
    padding-bottom: 15px;
    display: flex;
    flex-flow: column;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
}
body.logged_in div.panel-body div.col-sm-12>div.row>div.col-md-12>h3#navigation {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #343740;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    border-radius: 6px 6px 0 0;
}

div.panel.panel-info>div.panel-body {
    padding: 0px 15px;
}
body.logged_in .gm-style .gm-style-iw-c {
    color: #000000;
}

body.logged_in #navigation-items a,
body.logged_in #global-collapse button{
    cursor: pointer;
    font-size: 16px;
    margin-left: 0;
    list-style-type: none;
    height: 30px;
    border-radius: 6px;
    padding: 0px 5px;
    line-height: 30px;
    display: inline-block;
    background-color: transparent;
    color: rgb(230, 230, 230);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    transition: all 0.1s ease 0s;
    font-weight: 100;
}
body.logged_in #global-collapse button{
    height: 40px;
    font-size: 18px;
    border-radius: 6px;
    padding: 0px 5px;
    line-height: 40px;
    color: rgb(230, 230, 230) !important;
    font-size: 16px;
    margin-left: 0;
    background-image: none;
    font-weight: normal;
    margin-right: 8px;
} 
body.logged_in #navigation-items a:hover,
body.logged_in .accordion-section > a[href="#navigation"]:hover {
    background-color: rgba(230, 230, 230, 0.15);
    transition: .2s ease all; 
    text-decoration: none;
}
body.logged_in #global-collapse button#expand-all-accordions:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgba(163, 190, 140, 0.45) !important;
    transition: all 0.1s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(163, 190, 140);
    border-image: initial;
}
body.logged_in #global-collapse button#collapse-all-accordions:hover {
    background-color: rgba(191, 97, 106, 0.46) !important;
    color: rgb(255, 255, 255) !important;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(191, 97, 106);
    border-image: initial;
}
body.logged_in .btn:focus,
body.logged_in .btn.focus,
body.logged_in .btn:active:focus,
body.logged_in .btn.focus:active,
body.logged_in .btn.active:focus,
body.logged_in .btn.active.focus {
    outline: none;
    outline-offset: 0px;
}

body.logged_in .office-hours td.office-hours-copy a span {
    font-size: 12px;
    font-weight: 100;
}
body.logged_in td.office-hours-copy {
    white-space: nowrap;
}

body.logged_in .btn-primary,
body.logged_in .btn-primary[style="color:white;"],
body.logged_in .btn-success,
body.logged_in .office-hours td.office-hours-copy a {
    background-image: none;
    color: #ffffff !important;
    background-color: transparent !important;
    transition: all 0.1s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(86, 100, 128);
    border-image: initial;
}

body.logged_in .btn-primary:hover,
body.logged_in .btn-primary[style="color:white;"]:hover,
body.logged_in .btn-success:hover,
body.logged_in .office-hours td.office-hours-copy a:hover {
    color: rgb(129, 161, 193) !important;
background-color: transparent !important;
transition: all 0.1s ease 0s;
border-width: 1px;
border-style: solid;
border-color: rgb(163, 190, 140);
border-image: initial;
background-image: none;
background-color: transparent;
border-color: rgb(129, 161, 193);
}
body.logged_in div.col-sm-12.accordion-section {
    background-color: #36363a;
    margin: 15px 15px 0px 15px;
    width: auto;
    box-shadow: 0px 0px 10px 1px #0000007a;
    min-height: 65px;
}


/* cloudinary upload buttons - MATCH TO CMS STYLES */
body.logged_in .new-location a.cloudinary-upload-button {
    color: rgb(143, 188, 187) !important;
    background-color: transparent !important;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(143, 188, 187);
    border-image: initial;
}
body.logged_in .new-location a.cloudinary-upload-button:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgba(143, 188, 187, 0.506) !important;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(143, 188, 187);
    border-image: initial;
    transition: all 0.1s ease 0s;
}
body.logged_in .remove-cloudinary-image {
    background-color: transparent !important;
    color: rgb(191, 97, 106) !important;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(191, 97, 106);
    border-image: initial;
    height: 34px;
    display: inline-block;
    left: 10px;
    position: relative;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    top: 1px;
    transition: .2s ease all;
}
body.logged_in .remove-cloudinary-image:hover {
    background-color: rgba(191, 97, 106, 0.46) !important;
    color: rgb(255, 255, 255) !important;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(191, 97, 106);
    border-image: initial;
    transition: .2s ease all;
}

/* end cloudinary upload buttons */


body.logged_in div.col-sm-12.accordion-section h3 + hr,
body.logged_in div.panel-body div.col-sm-12>div.row>div.col-md-12>h3#navigation + hr {
    display: none;
}
body.logged_in #navigation-items {
    display: flex;
    flex-flow: row wrap;
    gap: 10px 10px;
    padding: 0px 20px;
    min-height: auto;
    margin: 10px 0px;
}
body.logged_in #navigation-items li {
list-style-type: none;
margin: none;
margin-left: 0px;
height: fit-content;

}
body.logged_in #global-collapse {
    margin-top: 0px;
    margin-left: 20px;
}



body.logged_in input.btn.btn-success.pull-right#submit-location-form {
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 50px;
    border-radius: 10px 0px 0px 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: normal;
    background-image: none;
    background-color: #758864 !important;
    color: #ffffff;
    box-shadow: none;
    border: none !important;
}
body.logged_in input.btn.btn-success.pull-right#submit-location-form:hover {
    background-color: #8da579 !important;
    transition: .2s ease all;
    color: #efefef !important;
}


body.logged_in form input[type=submit]:not(.disabled):active,
body.logged_in form input[type=button]:not(.disabled):active,
body.logged_in form button:not(.disabled):active {
    box-shadow: none;

}


/* poi changes */
body.logged_in form input.poi_postal_code[type='text'] {
    width: 4%;
}
body.logged_in form input.poi_state[type='text'] {
    width: 3%;
}

body.logged_in form input.poi_latitude[type='text'],
body.logged_in form input.poi_longitude[type='text'] {
    width: 6%;
}

body.logged_in form input.poi_place_id[type='text'] {
    border-radius: 3px 0px 0px 3px;
}    
body.logged_in form input.poi_longitude[type='text'] {
    border-radius: 0px 3px 3px 0px;
}

body.logged_in form input.poi_name[type='text'],
body.logged_in form input.poi_phone_number[type='text'],
body.logged_in form input.poi_website[type='text'],
body.logged_in form input.poi_google_map_url[type='text'],
body.logged_in form input.poi_address[type='text'],
body.logged_in form input.poi_city[type='text'],
body.logged_in form input.poi_state[type='text'],
body.logged_in form input.poi_postal_code[type='text'],
body.logged_in form input.poi_latitude[type='text'] {
    border-radius: 0px;
}
body.logged_in .delete_location_btn {
color: #bf616a;
}
body.logged_in .refresh_location_btn {
    color: #a3be8c;
}
body.logged_in form input.poi_address[type='text'],
body.logged_in form input.poi_website[type='text'] {
    width: 11%;
}


/* footer */
body.logged_in #footer p::after {
    content: " | Dark Theme made with <3 by Jay Archer";
}